<div id="wrapper">
  <header class="sticky-header">
    <div class="container">
      <div class="sixteen columns">
      
        <!-- Logo -->
        <div id="logo">
          <h1><a href="index.html"><img src="images/logo.png" alt="Work Scout" /></a></h1>
        </div>

        <!-- Menu -->
        <nav id="navigation" class="menu">
          <ul id="responsive">
            <li><a href="index.html" id="current">Inicio</a></li>

            <li><a href="#">Albergues</a></li>

            <li><a href="#">Centros de acopio</a></li>

            <li><a href="#">Acerca de</a></li>
          </ul>
        </nav>

        <!-- Navigation -->
        <div id="mobile-navigation">
          <a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
        </div>
      </div>
    </div>
  </header>

  <div class="clearfix"></div>

  {{outlet}}

  <div id="footer">
    <div class="container">
      <div class="sixteen columns">
        <h4>Acerca de</h4>
        <p>Morbi convallis bibendum urna ut viverra. Maecenas quis consequat libero, a feugiat eros. Nunc ut lacinia tortor morbi ultricies laoreet ullamcorper phasellus semper.</p>
      </div>
    </div>

    <div class="container">
      <div class="footer-bottom">
        <div class="sixteen columns">
          <div class="copyrights">Red Ciudadana</div>
        </div>
      </div>
    </div>
  </div>
</div>
